<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-right" id="about">
      <div class="w-100">
        <h1 class="mb-5">Keshav
          <span class="text-primary">Nandhan</span>
        </h1>
        <div class="subheading mb-5">Software Engineer <br/>(+91)9791591592 <br/>
          <a href="mailto:name@email.com" class="subheading mb-5">keshavnandhan94@gmail.com</a>
        </div>
        <p class="lead mb-5">I am an aspiring web application developer. Having worked for last three years, I came across projects involving windows applications & asp.net web applications.I would like to explore more technologies and enhance my skills in web application. I wish my career will inflate along with your company.</p>
        <div class="p-3 p-lg-5 d-flex justify-content-center"><a class="btn btn-outline-dark btn-sm" role="button" href="../../assets/Keshav_CV.pdf">Download CV</a></div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3">LTI Infotech</div>
            <p>On going further, I would also like to explore new technologies like React, Angular & Node and involve in developing new Progressive Web Applications. I engage myself in creating new web applications and automating stuffs.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2016 - Till Present</span>
          </div>
        </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Jeppiaar Engineering College</h3>
            <div class="subheading mb-3">Bachelor of Technology</div>
            <div>Information Technology</div>
            <p>CGPA: 7.45</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2016</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Kamaraj Matric School</h3>
            <div class="subheading mb-3">Higher Secondary</div>
            <p>92.25%</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2012</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Kamaraj Matric School</h3>
            <div class="subheading mb-3">Secondary</div>
            <p>94.4%</p></div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2010</span>
            </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Technologies &amp; Tools</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Programming background in C#</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Database background in MSSQL</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            ASP.Net,WinForms,ADO.Net </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Source Control for Versioning : GitHub</li>
            <li>
              <i class="fa-li fa fa-check"></i>
            IDE:Visual Studio Code & Visual Studio 2015</li>
            <li>
              <i class="fa-li fa fa-check"></i>
            WEB API's & WCF web services</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="row">
          <div class="col-md-6">
             <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                   <strong class="d-inline-block mb-2">Sticky Notes</strong>
                   <h6 class="mb-0">
                      <span class="text-dark">Used to note down Important Stuffs </span>
                   </h6>
                   <div class="mb-1 text-muted small">Angular Firebase App</div>
                   <p class="card-text mb-auto">I used Google OAuth and Firestore.</p>
                   <a class="btn btn-outline-dark btn-sm" role="button" href="https://stickynotes-eebd5.firebaseapp.com">Go to Website</a>
                </div>
                <!-- <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 200px; height: 250px;"> -->
             </div>
          </div>
          <div class="col-md-6">
             <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                   <strong class="d-inline-block mb-2">Score Guru</strong>
                   <h6 class="mb-0">
                      <span class="text-dark">Cricket Matches Live Score & Updates</span>
                   </h6>
                   <div class="mb-1 text-muted small">Angular 8 App</div>
                   <p class="card-text mb-auto">I used CricApi service for Live score & updates</p>
                   <a class="btn btn-outline-dark btn-sm" href="http://www.jquery2dotnet.com/">Go to Website</a>
                </div>
                <!-- <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/nature" style="width: 200px; height: 250px;"> -->
             </div>
          </div>
       </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Contact</h2>
          <div className="footer-center">
          <div>
          <i className="fa fa-map-marker"></i>
          <p><span>Pallikaranai,</span>
           Chennai-600100</p>
          </div>
          
          <div>
          <i className="fa fa-phone"></i>
          <p>+91 9791591592</p>
          </div>
          </div>
         <div class="social-icons">
          <a href="mailto:keshavnandhan94@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/keshav-nandhan-s/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/keshav-nandhan">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/NandhanKeshav">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/keshav.nandhan">
            <i class="fab fa-facebook-f"></i>
          </a>
          </div>
      </div>
    </section>

  </div>